[master]
master ansible_host=<master_ip>

[workers]
worker1 ansible_host=<worker_1_ip>
worker2 ansible_host=<worker_2_ip>

[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_extra_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
ansible_ssh_private_key_file=/path/to/ssh-key
ansible_user=ubuntu
